body {
	/*background-color: #cfcdca;*/
	background-color: white
}

::-webkit-scrollbar {
    width: 12px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    /*background: #888;*/
    background: #009879;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #007d65;
}

.navbar {
	position: fixed;
	top: 0;
	left: -200px;
	width: 250px;
	height: 100%;
	background: #009879;
	border-right: 2px solid #008C71;
	/*box-shadow: 0 0 25px 5px rgba(0, 0, 0.25);*/
	box-shadow: 6px 6px 3px 2px #626363;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	opacity: 0;
	transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
	margin-top: 50px;
}

.navbar__link {
	display: flex;
	align-items: center;
	background: #008C71;
	color: #ffffff;
	padding: 12px;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	border-bottom: 1px solid #009879;
	font-family: 'Itim', cursive;
}

.navbar__link .material-icon {
	margin-right: 12px;
}

.navbar__link:active {
	background: #007d65;
}

.navbar--open {
	left: 0;
	opacity: 1;
}

#btnMenu {
	outline: none;
	cursor: pointer;
	background-color: #008C71;
	margin-left: 10px;
	border: none;
}

#btnMenu:active {
	background: #007d65;
}

#menu-img {
	width: 40px;
	height: 40px;
}

.btn-div-menu {
	position: fixed;
	width: 250px;
	height: 50px;
	background: #008C71;
	border-right: 2px solid #008C71;
	box-shadow: 6px 6px 3px 2px #626363;
	text-align: center;
	margin-left: -8px;
	margin-top: -100px;
	border-bottom: 1px solid #009879;
	cursor: pointer;
	color: white;
	font-size: 35px;
	font-family: 'Itim', cursive;
}

.btn-div-menu:active {
	background: #007d65;
}

.menu-div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  /*-webkit-transform: rotate(-50deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);*/
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-50deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(50deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#head-h1 {
	text-align: center;
	font-family: sans-serif;
	font-size: 27px;
	font-variant: small-caps;
}

#sp-menu {
	margin-left: -100px;
}

.div-feedback {
  margin-left: 300px;
  margin-top: 100px;
  width: 700px;
  height: 650px;
  border: 7px solid #009879;
  border-radius: 50px;
}

#txtFirstName {
  width: 300px;
  margin-right: 20px;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #bfbcbb;
  margin-top: 30px;
  margin-bottom: 35px;
  font-family: 'Grandstander', cursive;
}

#txtLastName {
  width: 300px;
  margin-right: 20px;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #bfbcbb;
  margin-bottom: 35px;
  font-family: 'Grandstander', cursive;
}

.divhead {
  width: 700px;
  height: 90px;
  border-bottom-style: solid;
  border-bottom: 1.5px;
  background-color: #fcdd8d;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-top: 0.1px;
  text-align: center;
}

#cnhead {
  font-family: Roboto Condensed;
  font-size: 40px;
  font-weight: bolder;
}

#txtFirstName:focus {
  border-bottom: 2px solid black;
}

#txtLastName:focus {
  border-bottom: 2px solid black;
}

.divfirstname {
  margin-left: 30px;
}

.divLastname {
  margin-left: 30px;
}

#lblFirstName {
  font-family: 'Itim', cursive;
  font-size: 20px;
  margin-right: 20px;
}

#lblLastName {
  font-family: 'Itim', cursive;
  font-size: 20px;
  margin-right: 25px;
}

.divEmail {
  margin-left: 30px;
}

#txtEmail:focus {
  border-bottom: 2px solid black;
}

#txtEmail {
  width: 300px;
  margin-right: 20px;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #bfbcbb;
  margin-bottom: 35px;
}

#lblEmail {
  font-family: 'Itim', cursive;
  font-size: 20px;
  margin-right: 60px;
}

/*///////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.divYFeedback {
  margin-left: 30px;
}

#txtYFeedback:focus {
  border: 2px solid black;
}

#txtYFeedback {
  width: 300px;
  height: 200px;
  margin-right: 20px;
  font-size: 20px;
  outline: none;
  border: 2px solid #bfbcbb;
  margin-bottom: 35px;
  margin-left: 213px;
  margin-top: -15px;
  font-family: 'Grandstander', cursive;
}

#lblYFeedback {
  font-family: 'Itim', cursive;
  font-size: 20px;
  margin-right: 60px;
  margin-top: -200px;
}

.divbtnSubmit {
  margin-left: 30px;
}

#btnSubmit {
  width: 80px;
  height: 40px;
  font-size: 18px;
  background-color: white;
  border-radius: 3px;
  color: blue;
  outline: none;
  cursor: pointer;
  border: none;
  margin-top: 30px;
}

#btnSubmit:hover {
  background-color: #c9c8c5;
}

#select {
  margin-left: 220px; 
  margin-top: -15px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  border: 3px solid #009879;
  cursor: pointer;
}

#select option {
  cursor: pointer;
}

#lblRate {
  font-family: 'Itim', cursive;
  font-size: 20px;
  margin-right: 60px;
  margin-top: 20px;
}

#navbgc {
	background-color: #008C71;
}

#myNavbar #ulbar li a {
	color: aquamarine;
}

#www {
	width: 45px;
	height: 45px;
	margin-top: -10px;
}

#myNavbar #ulbar li a:hover {
	color: white;
}

.form-group {
  width: auto;
  height: auto;
}

.align {
  margin: 30px;
}

#emaila {
	text-decoration: none;
}