/* width */

::-webkit-scrollbar {
    width: 12px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    /*background: #888;*/
    background: #009879;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #007d65;
}

/*//*/

/*body {
	background-color: #cfcdca;
}*/


/*.hr1 {
    margin-left: 270px;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 950px;
    border-top: 3px dashed black;
    border-bottom-left-radius: 80px;
     border-bottom-right-radius: 80px;
}*/

.navbar {
	position: fixed;
	top: 0;
	left: -200px;
	width: 250px;
	height: 100%;
	background: #009879;
	border-right: 2px solid #008C71;
	/*box-shadow: 0 0 25px 5px rgba(0, 0, 0.25);*/
	box-shadow: 6px 6px 3px 2px #626363;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	opacity: 0;
	transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
	margin-top: 50px;
}

.navbar__link {
    display: flex;
    align-items: center;
    background: #008C71;
    color: #ffffff;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #009879;
    font-family: 'Itim', cursive;
}

.navbar__link .material-icon {
    margin-right: 12px;
}

.navbar__link:active {
    background: #007d65;
}

.navbar--open {
    left: 0;
    opacity: 1;
}

#btnMenu {
    outline: none;
    cursor: pointer;
    background-color: #008C71;
    margin-left: 10px;
    border: none;
}

#btnMenu:active {
    background: #007d65;
}

#menu-img {
    width: 40px;
    height: 40px;
}

.btn-div-menu {
	position: fixed;
	width: 250px;
	height: 50px;
	background: #008C71;
	border-right: 2px solid #008C71;
	box-shadow: 6px 6px 3px 2px #626363;
	text-align: center;
	margin-left: -8px;
	margin-top: -100px;
	border-bottom: 1px solid #009879;
	cursor: pointer;
	color: white;
	font-size: 35px;
	font-family: 'Itim', cursive;
}

.btn-div-menu:active {
    background: #007d65;
}

.menu-div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    /*-webkit-transform: rotate(-50deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);*/
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-50deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(50deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#head-h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    font-variant: small-caps;
}

#kr-sp {
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 25px;
}

#h3groupphoto {
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
	margin-left: 15px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
	margin-top: 25px;
}

#text {
  text-align: center;
    width: 800px;
    height: 600px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: 0.5s;
}

#overimg {
    width: 750px;
    height: 550px;
    border: 5px solid #009879;
    margin-top: 20px;
    border-radius: 50px;
    padding: 5px;
    transition: 0.5s;
    margin-left: 15px;
}

.group-div {
    margin-left: auto;
	margin-right: auto;
}

.gpdivimg1 {
    cursor: pointer;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}

#gpimg1 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #009879;
    transition: 0.5s;
	margin-right: auto;
	margin-left: auto;
}

.gpdivimg2 {
	margin-right: auto;
	margin-left: auto;
    margin-bottom: 20px;
    cursor: pointer;
}

#gpimg2 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #009879;
    transition: 0.5s;
	margin-right: auto;
	margin-left: auto;
}

.gpdivimg3 {
	margin-right: auto;
	margin-left: auto;
    cursor: pointer;
	margin-bottom: 20px;
}

#gpimg3 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #009879;
    transition: 0.5s;
	margin-right: auto;
	margin-left: auto;
}

.gpdivimg4 {
    margin-bottom: 20px;
    margin-right: auto;
	margin-left: auto;
    cursor: pointer;
}

#gpimg4 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #009879;
    transition: 0.5s;
	margin-right: auto;
	margin-left: auto;
}

.gpdivimg5 {
    margin-bottom: 20px;
    margin-right: auto;
	margin-left: auto;
    cursor: pointer;
}

#gpimg5 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #009879;
    transition: 0.5s;
	margin-right: auto;
	margin-left: auto;
}

.gpdivimg6 {
    margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
    cursor: pointer;
}

#gpimg6 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #009879;
    transition: 0.5s;
	margin-right: auto;
	margin-left: auto;
}

#h3groupgentphoto {
	text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
	margin-left: 15px;
	margin-top: 25px;
}

.group-div-gent {
    margin-left: auto;
	margin-right: auto;
}

.gpgentdivimg1 {
	margin-right: auto;
	margin-left: auto;
    cursor: pointer;
	margin-bottom: 20px;
}

#gpgentimg1 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #009879;
    transition: 0.5s;
	margin-right: auto;
	margin-left: auto;
}

.gpgentdivimg2 {
    margin-right: auto;
	margin-left: auto;
    cursor: pointer;
	margin-bottom: 20px;
}

#gpgentimg2 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #009879;
    transition: 0.5s;
	margin-right: auto;
	margin-left: auto;
}

#h3groupladyphoto {
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
	margin-left: 15px;
	margin-top: 200px;
}

.group-div-ladies {
    margin-left: auto;
	margin-right: auto;
}

.gpladydivimg1 {
    margin-right: auto;
	margin-left: auto;
    cursor: pointer;
	margin-bottom: 20px;
}

#gpladyimg1 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #009879;
    transition: 0.5s;
	margin-right: auto;
	margin-left: auto;
}

.gpladydivimg2 {
    margin-right: auto;
	margin-left: auto;
    cursor: pointer;
	margin-bottom: 20px;
}

#gpladyimg2 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #009879;
    transition: 0.5s;
	margin-right: auto;
	margin-left: auto;
}

#h3kidssnap {
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
	margin-left: 15px;
	margin-top: 200px;
}

.kids-snap {
    margin-left: auto;
	margin-right: auto;
}

.gpkiddivimg1 {
    margin-right: auto;
	margin-left: auto;
    cursor: pointer;
	margin-bottom: 20px;
}

#gpkidimg1 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #009879;
    transition: 0.5s;
	margin-right: auto;
	margin-left: auto;
}

#rajanih4 {
  margin-top: 15px;
  margin-left: 300px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
  margin-left: -3px;
}

.gpkiddivimg2 {
    margin-right: auto;
	margin-left: auto;
    cursor: pointer;
	margin-bottom: 20px;
}

#gpkidimg2 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #009879;
    transition: 0.5s;
	margin-right: auto;
	margin-left: auto;
}

#thrimurthi {
  margin-top: 70px;
  margin-left: 5px;
  margin-bottom: -5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
}

.gpkiddivimg3 {
    margin-right: auto;
	margin-left: auto;
    cursor: pointer;
	margin-bottom: 20px;
}

#gpkidimg3 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #009879;
    transition: 0.5s;
	margin-right: auto;
	margin-left: auto;
}

.gpkiddivimg4 {
    margin-right: auto;
	margin-left: auto;
    cursor: pointer;
	margin-bottom: 20px;
}

#gpkidimg4 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #009879;
    transition: 0.5s;
	margin-right: auto;
	margin-left: auto;
}

.gpkiddivimg5 {
    margin-right: auto;
	margin-left: auto;
    cursor: pointer;
	margin-bottom: 20px;
}

#gpkidimg5 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #009879;
    transition: 0.5s;
	margin-right: auto;
	margin-left: auto;
}

.gpkiddivimg6 {
    margin-right: auto;
	margin-left: auto;
    cursor: pointer;
	margin-bottom: 20px;
}

#gpkidimg6 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #009879;
    transition: 0.5s;
	margin-right: auto;
	margin-left: auto;
}

#h3Mata {
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
	margin-left: 15px;
	margin-top: 400px;
}

.mata-div {
    margin-left: auto;
	margin-right: auto;
}

.gpMatadivimg1 {
    margin-right: auto;
	margin-left: auto;
    cursor: pointer;
	margin-bottom: 20px;
}

#gpMataimg1 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #009879;
    transition: 0.5s;
	margin-right: auto;
	margin-left: auto;
}

.gpMatadivimg2 {
    margin-right: auto;
	margin-left: auto;
    cursor: pointer;
	margin-bottom: 20px;
}

#gpMataimg2 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #009879;
    transition: 0.5s;
	margin-right: auto;
	margin-left: auto;
}

.gpMatadivimg3 {
    margin-right: auto;
	margin-left: auto;
    cursor: pointer;
	margin-bottom: 20px;
}

#gpMataimg3 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #009879;
    transition: 0.5s;
	margin-right: auto;
	margin-left: auto;
}

#navbgc {
	background-color: #008C71;
}

#myNavbar #ulbar li a {
	color: aquamarine;
}

#www {
	width: 45px;
	height: 45px;
	margin-top: -10px;
}

#myNavbar #ulbar li a:hover {
	color: white;
}

.modal-content {
	margin-top: 50px;
	padding: 15px;
}

#gpmimg1 {
	width: auto;
	height: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#m1divcon {
	text-align: center;
}

#btnM1Close {
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}


/*//*/

#gpmimg2 {
	width: auto;
	height: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#m2divcon {
	text-align: center;
}

#btnM2Close {
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}


/*//*/


#gpmimg3 {
	width: auto;
	height: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#m3divcon {
	text-align: center;
}

#btnM3Close {
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*//*/

#gpmimg4 {
	width: auto;
	height: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#m4divcon {
	text-align: center;
}

#btnM4Close {
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*//*/


#gpmimg5 {
	width: auto;
	height: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#m5divcon {
	text-align: center;
}

#btnM5Close {
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*//*/

#gpmimg6 {
	width: auto;
	height: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#m6divcon {
	text-align: center;
}

#btnM6Close {
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*//*/

#gpmimg7 {
	width: auto;
	height: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#m7divcon {
	text-align: center;
}

#btnM7Close {
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*//*/

#gpmimg8 {
    width: auto;
    height: auto;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#m8divcon {
	text-align: center;
}

#btnM8Close {
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*//*/

#gpmimg9 {
    width: auto;
    height: auto;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#m9divcon {
	text-align: center;
}

#btnM9Close {
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*//*/

#gpmimg10 {
    width: auto;
    height: auto;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#m10divcon {
	text-align: center;
}

#btnM10Close {
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*//*/

#gpmimg11 {
    width: auto;
    height: auto;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#m11divcon {
	text-align: center;
}

#btnM11Close {
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*//*/

#gpmimg12 {
    width: auto;
    height: auto;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#m12divcon {
	text-align: center;
}

#btnM12Close {
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*//*/

#gpmimg13 {
    width: auto;
    height: auto;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#m13divcon {
	text-align: center;
}

#btnM13Close {
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*//*/

#gpmimg14 {
    width: auto;
    height: auto;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#m14divcon {
	text-align: center;
}

#btnM14Close {
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*//*/

#gpmimg15 {
    width: auto;
    height: auto;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#m15divcon {
	text-align: center;
}

#btnM15Close {
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*//*/

#gpmimg16 {
    width: auto;
    height: auto;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#m16divcon {
	text-align: center;
}

#btnM16Close {
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*//*/

#gpmimg17 {
    width: auto;
    height: auto;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#m17divcon {
	text-align: center;
}

#btnM17Close {
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*//*/

#gpmimg18 {
    width: auto;
    height: auto;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#m18divcon {
	text-align: center;
}

#btnM18Close {
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*//*/

#gpmimg19 {
    width: auto;
    height: auto;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#m19divcon {
	text-align: center;
}

#btnM19Close {
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.mar {
	background-color: blue;
    height: 20px;
    color: white;
}